<div class="w-100 h-100 mainContainer">
  <ng-container>
    <app-toopbar></app-toopbar>
  </ng-container>
  <div class="container-fluid login-body h-100 pt-5 d-flex" [style.background-image]="'url(' + imagePath +')'">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="align-self-center py-4">
        <mat-card class="p-1">
          <form [formGroup]="forgotPasswordForm">
            <div class="col-md-12">
              <div class="pt-3 text-center">
                <h3><b>Change Password:</b></h3>
              </div>

              <div class="inputField">
                <label class="lableName">Old Password
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control form-control-sm" [type]="hide ? 'password': 'text'"
                    formControlName="old_password" [ngClass]="{
                    'invalid':
                      forgotPasswordForm.controls['old_password']
                        .invalid &&
                      forgotPasswordForm.controls['old_password']
                        .touched}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" class="p-0 m-0"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eyeIcon">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </span>
                  </div>
                </div>
                <div *ngIf="forgotPasswordForm.controls['old_password'].invalid && forgotPasswordForm.controls['old_password'].touched">
                  <span class="text-danger">Enter Old Password</span>
                </div>
              </div>

              <div class="inputField">
                <label class="lableName">New Password
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control form-control-sm" [type]="hide ? 'password': 'text'"
                    formControlName="new_password" [ngClass]="{
                    'invalid':
                      forgotPasswordForm.controls['new_password']
                        .invalid &&
                      forgotPasswordForm.controls['new_password']
                        .touched}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" class="p-0 m-0"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eyeIcon">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </span>
                  </div>
                </div>
                <div *ngIf="forgotPasswordForm.controls['new_password'].invalid && forgotPasswordForm.controls['new_password'].touched">
                  <span class="text-danger">Enter New Password</span>
                </div>
              </div>

              <div class="inputField">
                <label class="lableName">Confirm New Password
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control form-control-sm" [type]="hide ? 'password': 'text'"
                    formControlName="confirm_password" [ngClass]="{
                    'invalid':
                      forgotPasswordForm.controls['confirm_password']
                        .invalid &&
                      forgotPasswordForm.controls['confirm_password']
                        .touched}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" class="p-0 m-0"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eyeIcon">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </span>
                  </div>
                </div>
                <div *ngIf="forgotPasswordForm.controls['confirm_password'].invalid && forgotPasswordForm.controls['confirm_password'].touched">
                  <span class="text-danger">Enter Confirm Password</span>
                </div>
              </div>

              <div class="col-md-12 text-center pb-5 pt-2">
                <button type="submit" class="btn btn-primary mx-3" (click)="submitForgotPassword()">Update</button>
                <button type="button" class="btn btn-secondary" (click)="navigateToLogin()">Cancel</button>
              </div>

            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
