
.card-container ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1.4em;
}
.input-group-text{
  height: 75% !important;
}
.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  font-size: 17px;
}
/* .mainContainer{
  overflow: hidden !important;
} */
/* .login-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

/* .card-container .mat-form-field {
  font-size: 13px !important;
}
input.ng-invalid.ng-dirty {
  border: 1px solid red;
} */

/* .eyeIcon{
  border: none;
  background: none;
} */

/* .socailIcon{
  text-align: center;
  align-items: center;
  justify-content: center;
} */

/* .invalid{
  border: 1px solid red !important;
  border-radius: 2px;
} */
