
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <div class="col-xs-12 col-md-8 col-xs-6 col-md-4 d-flex">
        <div class="ml-5 d-flex">
          <img src="../assets/images/satyamevaJayate.png" alt="" height="30px" width="30px">
          <div class="vertical ml-4"></div>
        </div>
        <div class="ml-5">
          <img src="../assets/images/satyamevaJayate.png" alt="" height="30px" width="30px">
        </div>
        <div class="px-4">
          <img src="../assets/images/satyamevaJayate.png" alt="" height="30px" width="30px">
        </div>
        <li class="nav-item dropdown navbar-expand-sm">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            ABOUT US
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">ABOUT US</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            SERVISES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">SERVISES</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           NETWORK
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">NETWORK</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            MARKET ACCESS
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> MARKET ACCESS</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           MEDIA
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">MEDIA</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
           G20 DIA
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">G20 DIA</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            FACILITIES
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">FACILITIES</a>
          </div>
        </li>
        <label class="pt-2 pl-1">CAREEAR</label>
        <mat-icon matBadge="1" matBadgeColor="warn" class="pl-2 pt-1">notifications</mat-icon>
        <mat-icon class="pl-4 pt-1"> person_pin</mat-icon>
      </div>
    </ul>
  </div>
</nav>
