<div class="w-100 h-100 mainContainer">
  <ng-container>
    <app-toopbar></app-toopbar>
  </ng-container>
  <div class="container-fluid login-body h-100 pt-5" [style.background-image]="'url(' + imagePath +')'">
    <div class="row my-auto ml-5 mr-1 h-100">
      <div class="col-12 pt-5">
        <div class="d-flex my-auto card-container align-self-center">
          <div class="col-2"></div>
          <div class="col-4 p-0 m-0">
            <mat-card class="login-card p-0 m-0 h-100">
              <div class="cardInsideImage">
                <img src="../../../../assets/images/circle.png" height="50px" width="50px" style="border-radius: 1em;">
              </div>
              <h5 class="cardInsideText">MeitY</h5> <span class="cardInsideText">Startup Hub</span>
              <div class="cardInsideSpan">
                <span>Delivaring Innovation!</span>
              </div>
              <div class="cardText">
                <p class="p-0 m-0">If you are a Existing user, click </p>
                <p class="ml-5 my-0 p-0">Here for Login</p>
              </div>
              <div class="cardLoginButton">
                <button style="border-radius: 5px;" type="submit" (click)="NavigateToRegister()">Register</button>
              </div>
            </mat-card>
          </div>

          <div class="col-4 p-0 m-0">
            <mat-card class="login-card-two p-0 m-0 h-100">
              <div class="text-center">
                <h3 class="p-0 m-0">Login</h3>
              </div>
              <div class="col-md-12">
                <form [formGroup]="LoginForm" (ngSubmit)="submitLogin()">

                  <div class="inputField">
                    <label class="lableName">Email
                      <span class="text-danger">*</span>
                    </label>
                    <div [ngClass]="{
                    'invalid':
                      LoginForm.controls['email_id']
                        .invalid &&
                      LoginForm.controls['email_id']
                        .touched}">
                    <input class="form-control form-control-sm" formControlName="email_id" type="text">
                  </div>
                  <div>
                    <span class="text-danger" *ngIf="LoginForm?.get('email_id')?.invalid && LoginForm?.get('email_id')?.touched
                    && !LoginForm.get('email_id')?.errors?.['pattern']">
                      E-mail id is required
                    </span>
                    <span class="text-danger" *ngIf="LoginForm.get('email_id')?.errors?.['pattern']">
                      Enter the valid Email
                    </span>
                  </div>
                  </div>

                  <div class="inputField">
                    <label class="lableName">Password
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group has-validation" >
                      <input type="text" class="form-control form-control-sm" [type]="hide ? 'password': 'text'" formControlName="password"
                      [ngClass]="{
                        'invalid':
                          LoginForm.controls['password']
                            .invalid &&
                          LoginForm.controls['password']
                            .touched}">
                      <div class="input-group-prepend" >
                        <span class="input-group-text">
                          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" class="p-0 m-0"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="eyeIcon">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="">
                      <span class="text-danger" *ngIf="LoginForm?.get('password')?.invalid && LoginForm?.get('password')?.touched">
                        Password is required
                      </span>
                    </div>
                  </div>

                  <div class="col-md-12 pl-0 d-flex">
                    <div class="col-md-6 pl-0">
                      <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                    <div class="col-md-6 text-right">
                      <span style="color:#007bff;cursor: pointer;" (click)="navigateToForgot()">Forgot Password?</span>
                    </div>
                  </div>

                  <div class="col-md-12 mb-5 mt-5">
                    <div class="text-center">
                      <h3>Sign in with social accounts</h3>
                    </div>
                    <div class="d-flex socailIcon">
                      <div class="px-2">
                        <i class="fab fa-google"></i>
                      </div>
                      <div class="px-2">
                        <i class="fab fa-facebook-f"></i>
                      </div>
                      <div class="px-2">
                        <i class="fab fa-twitter"></i>
                      </div>
                      <div class="px-2">
                        <i class="fab fa-linkedin"></i>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </mat-card>
          </div>
          <!-- <div class="col-2"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
