/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-body {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  overflow-x: hidden;
}

.login-card {
  background-image: url("/assets/images/registerBackground.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.login-card-two{
  background-color: rgb(233, 229, 229) !important;
}

.lableName{
  padding-top: 5px;
  margin: 1px;
}

.cardInsideImage{
  position: relative;
  top: 35%;
  left: 25%;
}

.cardInsideText{
  color: #FFFF;
  position: relative;
  left: 36%;
  top: 35%;
  margin: 0px;
}

.cardInsideSpan{
  color: #FFFF;
  font-size: 5px;
  position: relative;
  left: 45%;
  top: 33%;
  margin: 0px;
}

.cardText{
  position: relative;
  top: 35%;
  left: 25%;
  color: #FFFF;
}

.mainContainer{
  overflow: hidden !important;
}

.invalid{
  border: 1px solid red !important;
  border-radius: 2px;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.nav-link{
  font-size: 12px;
}

/* .navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  line-height: 0px;
  font-size: 10px;
} */

.vertical {
  border-left: 2px solid black;
  height: 31px;
  position: absolute;
  left: 14%;
}

.socailIcon{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.eyeIcon{
  border: none;
  background: none;
}
